doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='css/reveal.css')
    link(rel='stylesheet' type='text/css' href='css/theme/white.css')
    link(rel='stylesheet' type='text/css' href='lib/css/github-gist.css')
    //- link(rel='stylesheet' type='text/css' href='css/customize.css')
    title Black Magic for Good Fairies
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
  body
    .reveal
      .slides
        section
          h1 Black Magic for Good Fairies
          h3 @proofit404
        section
          h1 Python for Humans
        section
          h1 Maniac Manson
        section
          h1 Q
        section
          pre
            code.hljs.shell.
              tailf /tmp/q
          pre
            code.hljs.shell.
              0.0s test: prefix + q(sep or '')=' '
              0.0s test: 'xxx'
              0.0s test: 'xxx '
              0.0s foo('xxx')
              0.0s -> 'xxx!!!'
          aside.notes
            | Print:
            ul
              li expression results
              li variable values
              li function arguments
              li function return values
        section
          pre
            code.hljs.python.
              import q
              write(prefix + q(sep or ''))
              write(q/prefix + (sep or ''))
              write(q|prefix + (sep or ''))

              @q
              def foo(bar): ...
          aside.notes
            | We can:
            ul
              li call modules
              li divide modules
              li compare modules
        section
          h2 How the hell?
          pre
            code.hljs.python.
              class Q(object):
                  import inspect
                  def __truediv__(self, arg):
                      info = self.inspect.getframeinfo(...
                      self.show(info.function, [arg])
                      return arg

              sys.modules['q'] = Q()
        section
          h1 Django
        section
          h2 Simple model
          pre
            code.hljs.python.
              class Question(models.Model):
                  question_text = models.CharField()
                  pub_date = models.DateTimeField()

              >>> q.pub_date
              datetime.datetime(2012, 2, 26, 13, ...
        section
          h2 Real objects
          pre
            code.hljs.python.
              class Question(models.Model):
                  question_text = models.CharField()
                  pub_date = models.DateTimeField()

              >>> q.pub_date
              <__main__.DateTimeField object ...
    script(src='lib/js/head.min.js')
    script(src='js/reveal.js')
    script.
      Reveal.initialize({
          controls: false,
          progress: false,
          history: true,
          dependencies: [
              { src: 'plugin/notes/notes.js', async: true },
              { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
          ]
      });
