.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal section .container {
    display: flex;
    justify-content: center;
}

.reveal section .container img {
    width: 75px;
    height: auto;
    margin-right: 50px;
}

.reveal section .container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.face-photo {
    width: auto;
    height: 330px;
}

.photo-corner {
    border-radius: 25px;
}
