doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='css/reveal.css')
    link(rel='stylesheet' type='text/css' href='css/theme/white.css')
    link(rel='stylesheet' type='text/css' href='lib/css/github-gist.min.css')
    link(rel='stylesheet' type='text/css' href='css/customize.css')
    title Django Channels
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
  body
    .reveal
      .slides
        section
          h1 Know your oop
          h2 Artem Malyshev
          h3 @proofit404
        section
          h1 #rannts
        section
          h2 Base class
          pre
            code.hljs.python.
              class A:

                  def x(self):
                      self.y()

                  def y(self):
                      pass
        section
          h2 Child class
          pre
            code.hljs.python.
              class B(A):
                  def x(self):
                      print('Enter X')
                      super(B, self).x()
                      print('Exit X')
                  def y(self):
                      print('Enter Y')
                      super(B, self).y()
                      print('Exit Y')
        section
          h2 Results
          pre
            code.hljs.python.
              >>> B().y()
              Enter Y
              Exit Y
              >>> B().x()
              Enter X
              Enter Y
              Exit Y
              Exit X
        section
          h1 OOP is your
          h1 friend
        section
          h2 If you don't
          h2 like your parents,
          h2 you can skip them
        section
          h2 Skip module
          pre
            code.hljs.python.
              def mro(instance, *classes):

                  class SkipType(type):
                      def mro(cls):
                          old = instance.__class__.__mro__
                          new = tuple([x for x in old
                                       if x not in classes])
                          return new

                  Skip = SkipType('Skip', (), {})
                  return Skip()
        section
          h2 Child class
          pre
            code.hljs.python.
              class C(A):
                  def x(self):
                      print('Enter X')
                      skip.mro(self, C).x()
                      print('Exit X')
                  def y(self):
                      print('Enter Y')
                      skip.mro(self, C).y()
                      print('Exit Y')
        section
          h2 Results
          pre
            code.hljs.python.
              >>> C().y()
              Enter Y
              Exit Y
              >>> C().x()
              Enter X
              Exit X
        section(data-background='pic/alan_kay.jpg' data-background-size='contain' data-background-color='#000000' data-background-position='left')
          br
    script(src='lib/js/head.min.js')
    script(src='js/reveal.js')
    script(src='lib/js/highlight.min.js')
    script.
      hljs.initHighlightingOnLoad();
    script.
      Reveal.initialize({
          controls: false,
          progress: false,
          slideNumber: true,
          history: true,
          transition: 'none',
          dependencies: [
              { src: 'plugin/notes/notes.js', async: true }
          ]
      });
//- Local Variables:
//- eval: (add-hook (quote after-save-hook) (function (lambda nil (let ((proc (start-process-shell-command "pug" "*Pug*" (format "pug %s" (buffer-file-name))))) (set-process-sentinel proc (function (lambda (proc status) (and (buffer-file-name) (message "Pug: rendered %s" (file-name-nondirectory (buffer-file-name)))))))))) nil t)
//- eval: (start-process-shell-command "http.server" "*http.server*" "python -m http.server --bind localhost 4000")
//- eval: (run-at-time 2 nil (function browse-url) "http://localhost:4000")
//- End:
