.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal section pre {
    box-shadow: none;
}

.double-face {
    width: 250px;
    height: auto;
}

.face-corner {
    border-radius: 25px;
}
