.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal section pre {
    box-shadow: none;
}

.face-photo {
    width: auto;
    height: 330px;
}

.photo-corner {
    border-radius: 25px;
}

mark {
    color: red;
    background-color: white;
}
